body{
    background-color: lavender;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin: 50;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
ul, li {
    margin: 0; padding: 0;
    text-align: center;
}
