body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    color: darkgrey;
    font-size: smaller;
}
h1 {
    color: blueviolet;
}
h2 {
    color: green;
}
h3 {
    color: blue;
}
p {
    color: gold;
    background-color: darkorchid;
}

